.oa.menu{
    background-color:dodgerblue;
    width:200px;
    height:200px;
    float:left;
    margin:10px;
    text-align:center;
    color:white;
    display:table;
    font-size:25px;
    font-family: Verdana, Helvetica, sans-serif;

}

table .highlight > td{
    background-color: #D9EDF7 !important;
}

a{
    text-decoration: none;
}

.center{
    display:table-cell;
    vertical-align: middle;
    color:white;
}

.streak{
    padding-left: 15px;
    border-radius:4px;
    margin-bottom:25px;
    background-color:lightgoldenrodyellow ;
    border: #F4FCA9 1px solid;
}


.myfeedback{
    padding-left: 15px;
    border-radius:4px;
    margin-bottom:25px;
}


.feedbackCorrect{
    background-color:#dff0d8 ;
    border: palegreen 1px solid;
}

.feedbackPartial{
    background-color:lightgoldenrodyellow ;
    border: #F4FCA9 1px solid;
}

.feedbackWrong{
    background-color:#f2dede ;
    border: indianred 1px solid;
}

.newline{
    clear:both;

}

.menu:hover {
    background-color: #73C2FB;
}

.oa.menu.small{
    background-color:inherit;
}

.oa.menu.small:hover{
    background-color:inherit;
}

#menufbshort{
    font-size: 18px;
    margin-top: 10px;
    height:90px;
    max-width:420px;
    min-width: 200px;
    width:100%;
}

#menufbwide{
    font-size: 18px;
    margin-top: 10px;
    height:90px;
    max-width:640px;
    min-width: 200px;
    width:100%;
}

#oahelp{
    clear:both;
    background-color:dodgerblue;
    height:90px;
    width:200px;
}

.orange{
     background-color:#FF9900;
 }

.green{
    background-color: #00cc00;
}

.purple{
    background-color: #9900cc;
}

.purple:hover{
    background-color: #cc33ff;
}

#points{
    height:90px;
    width:200px;
    margin-bottom: 20px;
}

#menufeedbackin:hover{
    background-color: #6be700;
}

#oahelp:hover{
    background-color:#73C2FB;
}

.oatable{
    display:table;
}

#comment{
    width:420px;
    background-color:#333333;
    font-size:20px;
    text-align: left;
}

dl.list dt {
    float: left;
    width: 180px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
dt {
    font-weight: bold;
    margin-right: 10px;
}
dt, dd {
    line-height: 20px;
}

dd {
    display: block;
}

.profilepicture{
   }

.profilepicrightfill{
    float:left;
    height:100px;
    width:130px;
}