.oa.menu{
    background-color:dodgerblue;
    width:200px;
    height:200px;
    float:left;
    margin:10px;
    text-align:center;
    color:white;
    display:table;
    font-size:25px;
    font-family: Verdana, Helvetica, sans-serif;

}

table .highlight > td{
    background-color: #D9EDF7 !important;
}

a{
    text-decoration: none;

}
.center{
    display:table-cell;
    vertical-align: middle;
    color:white;
}

.newline{
    clear:both;

}

.menu:hover {
    background-color: #73C2FB;
}

.oa.menu.small{
    background-color:inherit;
}

.oa.menu.small:hover{
    background-color:inherit;
}

#oahelp{
    clear:both;
    background-color:dodgerblue;
    height:90px;
    width:200px;
}
#body{
    background-color:#FF9900;
    height:90px;
    width:200px;
    margin-bottom: 20px;
}
#oahelp:hover{
    background-color:#73C2FB;
}

.table{
    display:table;
}

#comment{
    width:420px;
    background-color:#333333;
    font-size:20px;
    text-align: left;
}